<div class="line"></div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="wrapper">
  <main role="main">
    <section class="sec-intro" role="section">
      <h1>My ethos:</h1>
    </section>
    <section class="sec-boxes" role="section">
      <adrticle class="box">
        <h1>Learning</h1>
        <p>The master always learns less than the student.</p>
      </adrticle>
      <adrticle class="box">
        <h1>Acting</h1>
        <p>The worst choice is no choice.</p>
      </adrticle>
      <adrticle class="box">
        <h1>Sense</h1>
        <p>Sometimes it's good to think outside the box, but not always.</p>
      </adrticle>
    </section>
    <section class="sec-events" role="section">
      <hr />
  </main>
</div>
<footer>
  <nav role="navigation">
    <ul class="nav-ul">
      <li><a href="#">github.com/williamstaudenmeier</a></li>
    </ul>
  </nav>
</footer>
<div class="line"></div>
